<h1>Hair Salon</h1>
<h3>Add stylist:</h3>
<form action="/stylists" method="post">
  <label for="stylistName">Stylist name:</label>
  <input id="stylistName" name="stylistName" type="text" required>
  <br>
  <label for="stylistDetails">Stylist details:</label>
  <input id="stylistDetails" name="stylistDetails" type="text" required>
  <button type="submit">Add</button>
</form>
<br>
<a href="/stylists">Stylists</a>
<br>
<a href="/">Home</a>
