<h1>Hair Salon</h1>
<h3>Add specialty:</h3>
<form action="/specialties" method="post">
  <label for="specialtyDescription">Specialty:</label>
  <input id="specialtyDescription" name="specialtyDescription" type="text" required>
  <button type="submit">Add</button>
</form>
<br>
<a href="/stylists">Stylists</a>
<br>
<a href="/">Home</a>
