<h1>Hair Salon</h1>
<h3>Add client</h3>
<form action='/clients' method='post'>
  <label for="name">Client name:</label>
  <input id='name' name='name' type='text' required>
  <label for='phone'>Client phone:</label>
  <input id='phone' name='phone' type='number' required>
  <label for='notes'>Client notes:</label>
  <input id='notes' name='notes' type='text' required>
  <button type='submit'>Submit</button>
</form>
<br>
<a href="/stylists">Stylists</a>
<br>
<a href="/clients">Clients</a>
<br>
<a href="/">Home</a>
